{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="section__head">
      <h2>Galerija</h2>
      <p></p>
    </div>

    <div class="grid gallery" style="margin-top:14px;">
      <!-- UBACI SVE SLIKE OVDE (primeri sa tvojim fajlovima) -->
      

      <div class="gitem" data-full="{% static 'img/KrovnaKonstrukcija.jpeg' %}" data-cap="Krovna konstrukcija">
        <img src="{% static 'img/KrovnaKonstrukcija.jpeg' %}" alt="Krovna konstrukcija">
      </div>

      <div class="gitem" data-full="{% static 'img/KrovniProzor.jpeg' %}" data-cap="Krovni prozor">
        <img src="{% static 'img/KrovniProzor.jpeg' %}" alt="Krovni prozor">
      </div>


      <div class="gitem" data-full="{% static 'img/Letnjikovac1.jpeg' %}" data-cap="Letnjikovac 2">
        <img src="{% static 'img/Letnjikovac1.jpeg' %}" alt="Letnjikovac 2">
      </div>

      <div class="gitem" data-full="{% static 'img/Nadstresnica.jpeg' %}" data-cap="Nadstrešnica">
        <img src="{% static 'img/Nadstresnica.jpeg' %}" alt="Nadstrešnica">
      </div>

    <div class="gitem" data-full="{% static 'img/slika1.jpg' %}" data-cap="Slika 1">
  <img src="{% static 'img/slika1.jpg' %}" alt="Slika 1">
</div>

<div class="gitem" data-full="{% static 'img/slika2.jpg' %}" data-cap="Slika 2">
  <img src="{% static 'img/slika2.jpg' %}" alt="Slika 2">
</div>

<div class="gitem" data-full="{% static 'img/slika3.jpg' %}" data-cap="Slika 3">
  <img src="{% static 'img/slika3.jpg' %}" alt="Slika 3">
</div>

<div class="gitem" data-full="{% static 'img/slika4.jpg' %}" data-cap="Slika 4">
  <img src="{% static 'img/slika4.jpg' %}" alt="Slika 4">
</div>

<div class="gitem" data-full="{% static 'img/slika5.jpg' %}" data-cap="Slika 5">
  <img src="{% static 'img/slika5.jpg' %}" alt="Slika 5">
</div>

<div class="gitem" data-full="{% static 'img/slika6.jpg' %}" data-cap="Slika 6">
  <img src="{% static 'img/slika6.jpg' %}" alt="Slika 6">
</div>

<div class="gitem" data-full="{% static 'img/slika7.jpg' %}" data-cap="Slika 7">
  <img src="{% static 'img/slika7.jpg' %}" alt="Slika 7">
</div>

<div class="gitem" data-full="{% static 'img/slika8.jpg' %}" data-cap="Slika 8">
  <img src="{% static 'img/slika8.jpg' %}" alt="Slika 8">
</div>

<div class="gitem" data-full="{% static 'img/slika9.jpg' %}" data-cap="Slika 9">
  <img src="{% static 'img/slika9.jpg' %}" alt="Slika 9">
</div>

<div class="gitem" data-full="{% static 'img/slika10.jpeg' %}" data-cap="Slika 10">
  <img src="{% static 'img/slika10.jpeg' %}" alt="Slika 10">
</div>

<div class="gitem" data-full="{% static 'img/slika11.jpeg' %}" data-cap="Slika 11">
  <img src="{% static 'img/slika11.jpeg' %}" alt="Slika 11">
</div>

<div class="gitem" data-full="{% static 'img/slika12.jpeg' %}" data-cap="Slika 12">
  <img src="{% static 'img/slika12.jpeg' %}" alt="Slika 12">
</div>

<div class="gitem" data-full="{% static 'img/slika13.jpeg' %}" data-cap="Slika 13">
  <img src="{% static 'img/slika13.jpeg' %}" alt="Slika 13">
</div>

<div class="gitem" data-full="{% static 'img/slika14.jpeg' %}" data-cap="Slika 14">
  <img src="{% static 'img/slika14.jpeg' %}" alt="Slika 14">
</div>

<div class="gitem" data-full="{% static 'img/slika15.jpeg' %}" data-cap="Slika 15">
  <img src="{% static 'img/slika15.jpeg' %}" alt="Slika 15">
</div>

<div class="gitem" data-full="{% static 'img/slika16.jpeg' %}" data-cap="Slika 16">
  <img src="{% static 'img/slika16.jpeg' %}" alt="Slika 16">
</div>

<div class="gitem" data-full="{% static 'img/slika17.jpeg' %}" data-cap="Slika 17">
  <img src="{% static 'img/slika17.jpeg' %}" alt="Slika 17">
</div>

<div class="gitem" data-full="{% static 'img/slika18.jpeg' %}" data-cap="Slika 18">
  <img src="{% static 'img/slika18.jpeg' %}" alt="Slika 18">
</div>

<div class="gitem" data-full="{% static 'img/slika19.jpeg' %}" data-cap="Slika 19">
  <img src="{% static 'img/slika19.jpeg' %}" alt="Slika 19">
</div>

<div class="gitem" data-full="{% static 'img/slika20.jpeg' %}" data-cap="Slika 20">
  <img src="{% static 'img/slika20.jpeg' %}" alt="Slika 20">
</div>

<div class="gitem" data-full="{% static 'img/slika21.jpeg' %}" data-cap="Slika 21">
  <img src="{% static 'img/slika21.jpeg' %}" alt="Slika 21">
</div>




      <!-- NE KORISTIMO MajstorBob.jpeg po tvom zahtevu -->
    </div>
  </div>
</section>

<!-- LIGHTBOX (mora biti na stranici) -->
<div id="lightbox" class="lightbox" aria-hidden="true">
  <button class="lightbox__close" type="button">✕</button>
  <button class="lightbox__prev" type="button">‹</button>
  <button class="lightbox__next" type="button">›</button>

  <div class="lightbox__content">
    <img class="lightbox__img" src="" alt="">
    <div class="lightbox__cap"></div>
  </div>
</div>
{% endblock %}
